---
# Containers are under development
containers:
  - name: gitea
    image: gitea/gitea:1.16.8-rootless
    ports:
      - name: gitea
        containerPort: 3000
        protocol: TCP
    environment:
      GITEA__DEFAULT__RUN_MODE: dev
      GITEA__database__DB_TYPE: sqlite3
      GITEA__database__PATH: /data/gitea/gitea.db
      GITEA__picture__DISABLE_GRAVATAR: "true"
      GITEA__repository__DEFAULT_PRIVATE: "false"
      GITEA__repository__DEFAULT_PUSH_CREATE_PRIVATE: "false"
      GITEA__repository__ENABLE_PUSH_CREATE_ORG: "true"
      GITEA__repository__ENABLE_PUSH_CREATE_USER: "true"
      GITEA__repository__ONLY_ALLOW_PUSH_IF_GITEA_ENVIRONMENT_SET: "false"
      GITEA__security__INSTALL_LOCK: "true"
      GITEA__server__SSH_DOMAIN: http://gitea
      GITEA__service__DISABLE_REGISTRATION: "true"
      GITEA__service__REQUIRE_SIGNIN_VIEW: "false"
      GITEA__webhook__ALLOWED_HOST_LIST: '*'
    volumeMounts:
      - name: gitea-varlib
        mountPath: /var/lib/gitea/
      - name: gitea-data
        mountPath: /data/
      - name: gitea-etc
        mountPath: /etc/gitea
    volumes:
      - name: gitea-data
        emptyDir: {}
      - name: gitea-etc
        emptyDir: {}
      - name: gitea-varlib
        emptyDir: {}
    commands: 
        - gitea admin user create --admin --username gitea --password gitea --email dummy@dummy.com --must-change-password=false
        - >
          curl -X POST -H "accept: application/json" -H "Content-Type: application/json"
          -u 'gitea:gitea' 
          -d '{"username": "student", "full_name": "student", "description": "student"}'
          http://localhost:3000/api/v1/orgs
        - >
          curl -X POST -H "accept: application/json" -H "Content-Type: application/json"
          -u 'gitea:gitea'
          -d '{"clone_addr": "https://github.com/ansible-tmm/terraform-aap.git", "repo_name": "terraform-aap", "owner": "student", "uid": 2, "private": false}'
          http://localhost:3000/api/v1/repos/migrate
    memory: 2Gi
    services:
      - name: gitea
        ports:
          - port: 3000
            protocol: TCP
            targetPort: 3000
            name: gitea
    routes:
      - name: gitea
        host: gitea
        service: gitea
        targetPort: 3000
        tls: true
        tls_termination: Edge

virtualmachines:
  - name: "control"
    image: "base-zero-aap-2.5-container-ce" #"aap-2.6-2-ceh-20251103" 
    memory: "16G"
    cores: 4
    image_size: "30Gi"
   # disk_type: "scsi"
   # bootloader: "efi"
    tags:
      - key: "AnsibleGroup"
        value: "isolated"
    networks:
      - default
      - secondary
    userdata: |-
      #cloud-config
      user: rhel
      password: ansible123!
      chpasswd: { expire: False }
      runcmd:
        - sed -i "s/PasswordAuthentication no/PasswordAuthentication yes/" /etc/ssh/sshd_config
        - systemctl reload sshd
    services:
      - name: control-https
        ports:
          - port: 443
            protocol: TCP
            targetPort: 443
            name: control-https
    routes:
      - name: control-https
        host: control
        service: control-https
        targetPort: 443
        tls: true
        tls_termination: reencrypt
        tls_destinationCACertificate: |
          -----BEGIN CERTIFICATE-----
          MIIF1jCCA76gAwIBAgIUBQZlbUZlOmMKhspO9U4/nTJAXAEwDQYJKoZIhvcNAQEL
          BQAwgYIxCzAJBgNVBAYTAlVTMRcwFQYDVQQIDA5Ob3J0aCBDYXJvbGluYTEQMA4G
          A1UEBwwHUmFsZWlnaDEQMA4GA1UECgwHUmVkIEhhdDEQMA4GA1UECwwHQW5zaWJs
          ZTEkMCIGA1UEAwwbQW5zaWJsZSBBdXRvbWF0aW9uIFBsYXRmb3JtMB4XDTI1MDQy
          MzA4MjEyOVoXDTM1MDQyMTA4MjEyOVowgYIxCzAJBgNVBAYTAlVTMRcwFQYDVQQI
          DA5Ob3J0aCBDYXJvbGluYTEQMA4GA1UEBwwHUmFsZWlnaDEQMA4GA1UECgwHUmVk
          IEhhdDEQMA4GA1UECwwHQW5zaWJsZTEkMCIGA1UEAwwbQW5zaWJsZSBBdXRvbWF0
          aW9uIFBsYXRmb3JtMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA2Ytu
          a9MM9qr0UBvlIJPXmeSjzQXmx+CJwQAhDoR8MgOkjvWjjEdsX4VHBfQTO58d5sPr
          oNg95GRe9y9Gjt6Lh7szLk70Q766Ncq8OIBYieiVKctIV+ZZmX7+bBcyzbII/0C9
          Ili3lNd+XKfl5vmCWoYyuQncC1FZgVpHqZDP/+RCCMThdKEvugbQUmXF6pmEFF7Z
          8PxYpxnVDX2ipOfWcjZDm6pTBd5+dzXHQVsWe25kY6QW0zEYzPJb3q0gP7oNz1uV
          rXgYBnKQ8NdoSGtS7w9bvSw28Bf1ZFTvBKeCxWNeoJbiszqdsDd6PEwb4uE1Tr6D
          qsLfPgvQzngQ+a7YrZ+M6GskQkfk+ZWMK8h6066p27Tzs6/9jMiCFuKwRuKWy9Qi
          DdCSnwVIw4VB40ysoAHprxBHq4y/YJ2RDiC9EehTXsQf/uAy3M7KBBjVGlMfXxUE
          NfjbeMdSQip04jKQGhJf8teXTymfcjlGaoCtymB+h4s3hc1T7DjfR0Q1Gd3AIL/p
          lHOgU4TMBzeghqeDRbY4YQRSI1aF/hzTvAJzMaONs161buKOQ47O5UGGJYHHlJbf
          aI0s3Mhld1YvIFk78A4tFI9GIwzj4IzVmCv4MZHg2BXKAU6m3Y6bYNabqP6Ho4Fs
          DZOVkMvwTGKGfRxjdp0kx6HxNmjnVDMXGM9g8cECAwEAAaNCMEAwDgYDVR0PAQH/
          BAQDAgIEMA8GA1UdEwEB/wQFMAMBAf8wHQYDVR0OBBYEFFugxH0taHxJ0/d71phl
          a1Vt78fTMA0GCSqGSIb3DQEBCwUAA4ICAQApZCo7gI0xdk2TxjOcq+BdNsOvKjWL
          ADceDM78oPy0xpgKd2u9INITzIY2f4KGcepXslnlMQQvny80N1LXu9Tkn4rhoU03
          DXb9bXSr44T3fIf4JFU2iv5Hb6Az/DiQ3o9fZnhpW0AmzR1LmZUuFBJZefFBMMKl
          s2W9C3f3nUPzi1qrGSXszXXbIDYsRMhax/MxWR9mxITuN3T6PhW8A1LyQ8dWRCLw
          jFFcNuGjlR8w16XhRCw8uA1RzVwNWoUGvMiapboR25N0DLVCG8qf/mdEI4re8MhM
          EYHugB/e7vRx6iV9ov7jJSB8BrBPWy/7ncebWIf8OvjM2UcUk0hciAQGD4Udbb3s
          LGcpjZRJDrnpBdp+CJMCNNjoI0wLbmRDEVPGOSkJSmnj+8VTlQ5s+Dxvj2hh/rq7
          APwxbIl1YBpTx65KwhacJbXSByk8bnwEQdRo240kC5ggC6twb/vvslRortZtyfqw
          E/xGAKc9LOIFiqk1f0IU2ssEBvSFvYjypXsGnFITamNN2lMS2k5XQIA4avwWsoO4
          rRLV87ua9S7g31PTYCMJBGw/B3PXhXjJG/eXgLyhEoUQP/fqeGiPEBzagyo71qL5
          fH5qke1XR5LFGpndX1GuSVBhdZq94x0aGXWTQCDNIPQ3QtrQ64PBF1vRFdJ6o/FI
          uEOWpQhGYHMC0A==
          -----END CERTIFICATE-----

  - name: "vscode"
    image: "devtools-ansible"
    memory: "8G"
    cores: 2
    image_size: "20Gi"
    disk_type: "scsi"
    bootloader: "efi"
    tags:
      - key: "AnsibleGroup"
        value: "isolated"
    networks:
      - default
    services:
      - name: vscode-8080
        ports:
          - port: 8080
            protocol: TCP
            targetPort: 8080
            name: vscode
    routes:
      - name: vscode-8080
        host: vscode
        service: vscode-8080
        targetPort: 8080
        tls: true
        tls_termination: Edge
    userdata: |-
      #cloud-config
      user: rhel
      password: ansible123!
      chpasswd: { expire: False }
      runcmd:
        - echo "PasswordAuthentication yes" > /etc/ssh/sshd_config.d/50-cloud-init.conf
        - systemctl reload sshd

  - name: "terraform"
    image: "tfe-rhel-image-1"
    memory: "16G"
    cores: 2
    image_size: "120Gi"
    # disk_type: "scsi"
    # bootloader: "efi"
    tags:
      - key: "AnsibleGroup"
        value: "isolated"
    networks:
      - default
    services:
      - name: tfe-https
        ports:
          - port: 8443
            protocol: TCP
            targetPort: 8443
            name: tfe-https
    routes:
      - name: tfe-https
        host: tfe-https
        service: tfe-https
        targetPort: 8443
        tls: true
        tls_termination: reencrypt
        tls_destinationCACertificate:  |
          -----BEGIN CERTIFICATE-----
          MIIFjTCCA3WgAwIBAgIUeExa35qysEOkLFsKO0rclw0yUYgwDQYJKoZIhvcNAQEL
          BQAwVjELMAkGA1UEBhMCWFgxFTATBgNVBAcMDERlZmF1bHQgQ2l0eTEcMBoGA1UE
          CgwTRGVmYXVsdCBDb21wYW55IEx0ZDESMBAGA1UEAwwJdGVycmFmb3JtMB4XDTI1
          MTEyNDEwMzE1NVoXDTM1MTEyMjEwMzE1NVowVjELMAkGA1UEBhMCWFgxFTATBgNV
          BAcMDERlZmF1bHQgQ2l0eTEcMBoGA1UECgwTRGVmYXVsdCBDb21wYW55IEx0ZDES
          MBAGA1UEAwwJdGVycmFmb3JtMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKC
          AgEAukg9TLvk5iiDs2xZ/Wltd0kNZRBxD/FmQePrj4iiwF1mzZIPu54Kc53Tq58X
          VW/jQL7x5+gPfIaLlIMe55EWPqRya/1nvQW8LlVzvzy7LxSkpQKtyqxgdwAHA4NX
          dC2xeCJOieSuBZZyGxUBYfvprkXUwYgwd1F0YbIiZGWXhhFoOgK0pEGruQjiUZGj
          7Y2sr7QoV8XfGuqxE1axQI6UodVmmx7NsYYr7UQAN06EYSo5A/8QnBzHEdZN+fJl
          lYDXRklZ14CRbwIXkFT43IpSEAJoMdrMLEfHkcluOgsA33kCEgaovatFIGdlc5NW
          taRa5hFJrMCy3hGnU3UYlhWFVgJvSFGmp+tbELTWAE7R14G6zOlJf8GTZWvwzINX
          103uME3LFu0CkMDpBC3Mc46Fn5HQMYV2OZIIuYdnL52Alq3n1BRsoJ8vOs4G6BFz
          sZvivKbs//6mtDCBOlL/y2iGhmOvZDHhDUqGXDiNtU80+UPik9uH9uQ8RC46mMZh
          wJ9/bhqI/ybhQFj7Pbk7Ll4j7BglnOtM9b/pEGuKGZb8gu63HxFc3rhNV1MCm8Mp
          Gm9x2HcU813dFu6WFM/XTY8CMfcLDNaABl5qhQ8vrvD0Xudfj9BFsxDmKQdFVYG4
          UitEpNW0vADkiE3uqdzEXSG/2EdmyCfxrolSCfaRlsHJeMsCAwEAAaNTMFEwHQYD
          VR0OBBYEFFy36tyibXnp836ET+yCZsDUn/ijMB8GA1UdIwQYMBaAFFy36tyibXnp
          836ET+yCZsDUn/ijMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcNAQELBQADggIB
          AFRtMxAiQul4RNfTg9qOZPGIaofgPmJLOa49ptvj1VdzQTt2l1NpC/+UIcC171Xw
          NeR/ZLt4nDnaUnB9GEtAGOvCPNjAhRZ+uoe/htZCFQDUNSKzPrXPluifCtH8GrAT
          uTVmK65YYCjn2PebJA1KwBC9Ebuf/Qxxjmdo/lzvM+FWapSOnyP4l8BnoYnuge6G
          dpfQy0iD6ZuPzBmbhsE/+mxZDNXpZ+dXbdi8MEH0Yjm7Mtqi45f3yI2Qevtaat4T
          Du6CSrnaGeQDlJ0hRZWMvcGG8hHVqTb6vJo84qK5pNYpgK5idY72DsgG65gUdu37
          v/rJncRfs8LV7cV0SdMkZCiWQIaioBlb+KUH16ZjbB7g4qWvarD3QUuhu3g6UZdM
          ugd2jfU7xFR0X/9h351rgNCbWVNRYujY9p5lL/TE7VIqOzF+hAL0seBjUC8Bb6pe
          zAVhhK6oy6Df98M0aN3oNc/Z3ID7ya4xCsBPiuBxOrrMVc9iBssv7/oqji6gN3E7
          cVf21LuIYgC9uz9kr/EimnewVgwwWneDJHE5E2stpLR9oLji4gLbswnzY6qzSem+
          pRw10XnOz29jX0ZfcoCStUsBo/G1sfyeOK8oDhvEMcp4lRJMYXtF2mcwj3q6PNDl
          PsJyVroHfWRn/ZYsDDVcJnWbmV0UbAUGlqYlr28hZKdy
          -----END CERTIFICATE-----
    userdata: |-
      #cloud-config
      user: rhel
      password: ansible123!
      chpasswd: { expire: False }
      runcmd:
        - echo "PasswordAuthentication yes" > /etc/ssh/sshd_config.d/50-cloud-init.conf
        - systemctl reload sshd

  - name: "vault"
    image: "vault-rhel-image-1"
    memory: "16G"
    cores: 2
    image_size: "40Gi"
    # disk_type: "scsi"
    # bootloader: "efi"
    tags:
      - key: "AnsibleGroup"
        value: "isolated"
    networks:
      - default
    services:
 #     - name: vault-https
 #       ports:
 #         - port: 443
 #           protocol: TCP
 #           targetPort: 443
 #           name: vault-https
      - name: vault-8200
        ports:
          - port: 8200
            protocol: TCP
            targetPort: 8200
            name: vault-8200
    routes:
#      - name: vault-https
#        host: vault-https
#        service: vault-https
#        targetPort: 443
#        tls: true
#        tls_termination: Edge
      - name: vault-8200
        host: vault
        service: vault-8200
        targetPort: 8200
        tls: true
        tls_termination: Edge
    userdata: |-
      #cloud-config
      user: rhel
      password: ansible123!
      chpasswd: { expire: False }
      runcmd:
        - echo "PasswordAuthentication yes" > /etc/ssh/sshd_config.d/50-cloud-init.conf
        - systemctl reload sshd
