---
containers:
  - name: gitea
    image: gitea/gitea:1.16.8-rootless
    ports:
      - name: gitea
        containerPort: 3000
        protocol: TCP
    environment:
      GITEA__DEFAULT__RUN_MODE: dev
      GITEA__database__DB_TYPE: sqlite3
      GITEA__database__PATH: /data/gitea/gitea.db
      GITEA__picture__DISABLE_GRAVATAR: "true"
      GITEA__repository__DEFAULT_PRIVATE: "false"
      GITEA__repository__DEFAULT_PUSH_CREATE_PRIVATE: "false"
      GITEA__repository__ENABLE_PUSH_CREATE_ORG: "true"
      GITEA__repository__ENABLE_PUSH_CREATE_USER: "true"
      GITEA__repository__ONLY_ALLOW_PUSH_IF_GITEA_ENVIRONMENT_SET: "false"
      GITEA__security__INSTALL_LOCK: "true"
      GITEA__server__SSH_DOMAIN: http://gitea
      GITEA__service__DISABLE_REGISTRATION: "true"
      GITEA__service__REQUIRE_SIGNIN_VIEW: "false"
      GITEA__webhook__ALLOWED_HOST_LIST: "*"
    volumeMounts:
      - name: gitea-varlib
        mountPath: /var/lib/gitea/
      - name: gitea-data
        mountPath: /data/
      - name: gitea-etc
        mountPath: /etc/gitea
    volumes:
      - name: gitea-data
        emptyDir: {}
      - name: gitea-etc
        emptyDir: {}
      - name: gitea-varlib
        emptyDir: {}
    commands:
      - gitea admin user create --admin --username gitea --password gitea
        --email dummy@dummy.com --must-change-password=false
      - >
        curl -X POST -H "accept: application/json" -H "Content-Type:
        application/json" -u 'gitea:gitea'  -d '{"username": "student",
        "full_name": "student", "description": "student"}'
        http://localhost:3000/api/v1/orgs
      - >
        curl -X POST -H "accept: application/json" -H "Content-Type:
        application/json" -u 'gitea:gitea' -d '{"clone_addr":
        "https://github.com/ansible-tmm/terraform-aap.git", "repo_name":
        "terraform-aap", "owner": "student", "uid": 2, "private": false}'
        http://localhost:3000/api/v1/repos/migrate
    memory: 2Gi
    services:
      - name: gitea
        ports:
          - port: 3000
            protocol: TCP
            targetPort: 3000
            name: gitea
    routes:
      - name: gitea
        host: gitea
        service: gitea
        targetPort: 3000
        tls: true
        tls_termination: Edge
virtualmachines:
  - name: control
    image: aap-2.6-2-ceh-20251103
    memory: 32G
    cores: 4
    image_size: 50Gi
    tags:
      - key: AnsibleGroup
        value: isolated
    networks:
      - default
      - secondary
    userdata: |-
      #cloud-config
      user: rhel
      password: ansible123!
      chpasswd: { expire: False }
      ssh_pwauth: true
    services:
      - name: control-https
        ports:
          - port: 443
            protocol: TCP
            targetPort: 443
            name: control-https
      - name: control-report
        ports:
          - port: 8088
            protocol: TCP
            targetPort: 8088
            name: control-report
    routes:
      - name: control-https
        host: control
        service: control-https
        targetPort: 443
        tls: true
        tls_termination: reencrypt
        tls_destinationCACertificate: |
          -----BEGIN CERTIFICATE-----
          MIIF1jCCA76gAwIBAgIUASi34Lss1upPyAS1YsA8eZTJOFAwDQYJKoZIhvcNAQEL
          BQAwgYIxCzAJBgNVBAYTAlVTMRcwFQYDVQQIDA5Ob3J0aCBDYXJvbGluYTEQMA4G
          A1UEBwwHUmFsZWlnaDEQMA4GA1UECgwHUmVkIEhhdDEQMA4GA1UECwwHQW5zaWJs
          ZTEkMCIGA1UEAwwbQW5zaWJsZSBBdXRvbWF0aW9uIFBsYXRmb3JtMB4XDTI1MTEw
          MzE5NDkyNVoXDTM1MTEwMTE5NDkyNVowgYIxCzAJBgNVBAYTAlVTMRcwFQYDVQQI
          DA5Ob3J0aCBDYXJvbGluYTEQMA4GA1UEBwwHUmFsZWlnaDEQMA4GA1UECgwHUmVk
          IEhhdDEQMA4GA1UECwwHQW5zaWJsZTEkMCIGA1UEAwwbQW5zaWJsZSBBdXRvbWF0
          aW9uIFBsYXRmb3JtMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAqNju
          44XrKsBPTqv5J+OqRz3RsY1QIemHw3NIJF3d3UvimBHt42rHnwt4Lww3mYtYMJQ0
          nzcRpr+EnFlC5YFl2Htrfq6NzUUqknTpaCeSKNCli4aKYe9JYSocWy/8ag+H7gMf
          oUFJ7+PDh/S8HcP7ZA15RRXhyGdjzpUK9+ry/UcMcLE4ZOW2Z4YvFyjemh+c/yYY
          KHsNjV56TRL5q4VqsxlKQuqNQos9lWoHjz363JxC9UrvTPqvl/UbHsQmTD8NKDnB
          xxsaYTl41kVqscLSw5KR2c6CVVgSjIn5o0iAo01Sd4gONZ0ImhrzQ5Ea9Ya2kKG7
          OCdg84V4hVmy/fnrcBC4k9RgNthWH9k4eMHwZf3B2P1xZds3dkV1k6yF3zSrQfJd
          VJZ0AsaeGQGw26NQw0IG17P/jmho1jBhqSLaJyT9vVM/JMOjdojbD/dSFkccID1E
          wUZeklYiLScD13rhckVk8MxrsFv99BO91tm07lwnj5jsyLoTvUOLuI4o7yw1AlsC
          V/OjdpAohWbL0W6YxS/elBVgZhe7Gv2lnIF9L7TxTj/UQWaarouAIgyevqbP5dnt
          mRccxZ38YGivRA+PgWwwSL9AQCFzIJW1Q45shUR2vkTsiWEEB+Lobkj5dcyLG0CH
          Z7fnJnlKdNDcMbm2s6U1i+nHvv1dpfyveRvOiCsCAwEAAaNCMEAwDgYDVR0PAQH/
          BAQDAgIEMA8GA1UdEwEB/wQFMAMBAf8wHQYDVR0OBBYEFHAFWQy/8in8Lg2TaG9g
          NJyRxdMfMA0GCSqGSIb3DQEBCwUAA4ICAQBT5QI+nxhpEwPVp/BxZnxJWFBotHw3
          rROgu1GBR3clZ+c+YFygAUs3LSpCLuDGnqJnh0822sIM+5FFP2ypqHdzeKo3TQEj
          K4QiTBGeiSgqKqwHQdqPKywgFqAuxFC+clVrmFVR7dQJ8OiUZYNk5fwYLxnOftFQ
          pxgpJyAX7vpZKnzujc5IGEqb3apjyxUuX3TFRq4uJp8ffWR9cgykeI8WFqAi33+K
          RW8h9UQbS9mPjkJ3lbTtd06Jx2M0V2pwtQBMlp7aTboEqs+CB5moCIq1wTXvZBqB
          dcqcpRGppYHL+QuUguBIlZcxn/8JpfoEsYVOJszp4YLEKzr68RoXvevObbrjJxfq
          BnEPFKqt+pQpjEJktn8JDqp8G6gMc9n+Nkx88f3MR8yr2nhMl9YL6jSZLklH4JJV
          2UjYg+KU/u/JttFmDydmys1xN9hiFM2wtRjp+r8gAQw95pyUhMraA01qLYWP5wAO
          KsMpndKg6rUIycxNNr+eLGNafbUNsp9qayRSull5jKok43Goi8oF8edRlPY4qpZW
          6WvY8+YjBLTCY1rQBb6/Rfr5PHSaRlGLi3Os6xG84gt69dLtMZBz4O232fc5sG5M
          wMQ+MKwOpgDyuy79XKvsPanlAfP8WgJi79pJdHu3BGTLlDFil9CK8l2sncM1FdaE
          57Ys1npOUx+oxw==
          -----END CERTIFICATE-----
      - name: control-report
        host: control-report
        service: control-report
        targetPort: 8088
        tls: true
        tls_termination: Edge
  - name: vscode
    image: devtools-ansible
    memory: 8G
    cores: 2
    image_size: 20Gi
    disk_type: scsi
    bootloader: efi
    tags:
      - key: AnsibleGroup
        value: isolated
    networks:
      - default
    services:
      - name: vscode-8080
        ports:
          - port: 8080
            protocol: TCP
            targetPort: 8080
            name: vscode
    routes:
      - name: vscode-8080
        host: vscode
        service: vscode-8080
        targetPort: 8080
        tls: true
        tls_termination: Edge
    userdata: >-
      #cloud-config

      user: rhel

      password: ansible123!

      chpasswd: { expire: False }

      runcmd:
        - echo "PasswordAuthentication yes" > /etc/ssh/sshd_config.d/50-cloud-init.conf
        - systemctl reload sshd
  - name: terraform
    image: tfe-rhel-image-1
    memory: 24G
    cores: 2
    image_size: 120Gi
    tags:
      - key: AnsibleGroup
        value: isolated
    networks:
      - default
    services:
      - name: tfe-https
        ports:
          - port: 443
            protocol: TCP
            targetPort: 443
            name: tfe-https
    routes:
      - name: tfe-https
        host: tfe-https
        service: tfe-https
        targetPort: 443
        tls: true
        tls_termination: reencrypt
        tls_destinationCACertificate: |
          -----BEGIN CERTIFICATE-----
          MIIFjTCCA3WgAwIBAgIUeExa35qysEOkLFsKO0rclw0yUYgwDQYJKoZIhvcNAQEL
          BQAwVjELMAkGA1UEBhMCWFgxFTATBgNVBAcMDERlZmF1bHQgQ2l0eTEcMBoGA1UE
          CgwTRGVmYXVsdCBDb21wYW55IEx0ZDESMBAGA1UEAwwJdGVycmFmb3JtMB4XDTI1
          MTEyNDEwMzE1NVoXDTM1MTEyMjEwMzE1NVowVjELMAkGA1UEBhMCWFgxFTATBgNV
          BAcMDERlZmF1bHQgQ2l0eTEcMBoGA1UECgwTRGVmYXVsdCBDb21wYW55IEx0ZDES
          MBAGA1UEAwwJdGVycmFmb3JtMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKC
          AgEAukg9TLvk5iiDs2xZ/Wltd0kNZRBxD/FmQePrj4iiwF1mzZIPu54Kc53Tq58X
          VW/jQL7x5+gPfIaLlIMe55EWPqRya/1nvQW8LlVzvzy7LxSkpQKtyqxgdwAHA4NX
          dC2xeCJOieSuBZZyGxUBYfvprkXUwYgwd1F0YbIiZGWXhhFoOgK0pEGruQjiUZGj
          7Y2sr7QoV8XfGuqxE1axQI6UodVmmx7NsYYr7UQAN06EYSo5A/8QnBzHEdZN+fJl
          lYDXRklZ14CRbwIXkFT43IpSEAJoMdrMLEfHkcluOgsA33kCEgaovatFIGdlc5NW
          taRa5hFJrMCy3hGnU3UYlhWFVgJvSFGmp+tbELTWAE7R14G6zOlJf8GTZWvwzINX
          103uME3LFu0CkMDpBC3Mc46Fn5HQMYV2OZIIuYdnL52Alq3n1BRsoJ8vOs4G6BFz
          sZvivKbs//6mtDCBOlL/y2iGhmOvZDHhDUqGXDiNtU80+UPik9uH9uQ8RC46mMZh
          wJ9/bhqI/ybhQFj7Pbk7Ll4j7BglnOtM9b/pEGuKGZb8gu63HxFc3rhNV1MCm8Mp
          Gm9x2HcU813dFu6WFM/XTY8CMfcLDNaABl5qhQ8vrvD0Xudfj9BFsxDmKQdFVYG4
          UitEpNW0vADkiE3uqdzEXSG/2EdmyCfxrolSCfaRlsHJeMsCAwEAAaNTMFEwHQYD
          VR0OBBYEFFy36tyibXnp836ET+yCZsDUn/ijMB8GA1UdIwQYMBaAFFy36tyibXnp
          836ET+yCZsDUn/ijMA8GA1UdEwEB/wQFMAMBAf8wDQYJKoZIhvcNAQELBQADggIB
          AFRtMxAiQul4RNfTg9qOZPGIaofgPmJLOa49ptvj1VdzQTt2l1NpC/+UIcC171Xw
          NeR/ZLt4nDnaUnB9GEtAGOvCPNjAhRZ+uoe/htZCFQDUNSKzPrXPluifCtH8GrAT
          uTVmK65YYCjn2PebJA1KwBC9Ebuf/Qxxjmdo/lzvM+FWapSOnyP4l8BnoYnuge6G
          dpfQy0iD6ZuPzBmbhsE/+mxZDNXpZ+dXbdi8MEH0Yjm7Mtqi45f3yI2Qevtaat4T
          Du6CSrnaGeQDlJ0hRZWMvcGG8hHVqTb6vJo84qK5pNYpgK5idY72DsgG65gUdu37
          v/rJncRfs8LV7cV0SdMkZCiWQIaioBlb+KUH16ZjbB7g4qWvarD3QUuhu3g6UZdM
          ugd2jfU7xFR0X/9h351rgNCbWVNRYujY9p5lL/TE7VIqOzF+hAL0seBjUC8Bb6pe
          zAVhhK6oy6Df98M0aN3oNc/Z3ID7ya4xCsBPiuBxOrrMVc9iBssv7/oqji6gN3E7
          cVf21LuIYgC9uz9kr/EimnewVgwwWneDJHE5E2stpLR9oLji4gLbswnzY6qzSem+
          pRw10XnOz29jX0ZfcoCStUsBo/G1sfyeOK8oDhvEMcp4lRJMYXtF2mcwj3q6PNDl
          PsJyVroHfWRn/ZYsDDVcJnWbmV0UbAUGlqYlr28hZKdy
          -----END CERTIFICATE-----
    userdata: >-
      #cloud-config

      user: rhel

      password: ansible123!

      chpasswd: { expire: False }

      runcmd:
        - echo "PasswordAuthentication yes" > /etc/ssh/sshd_config.d/50-cloud-init.conf
        - systemctl reload sshd
  - name: vault
    image: vault-rhel-image-1
    memory: 16G
    cores: 2
    image_size: 40Gi
    tags:
      - key: AnsibleGroup
        value: isolated
    networks:
      - default
    services:
      - name: vault-8200
        ports:
          - port: 8200
            protocol: TCP
            targetPort: 8200
            name: vault-8200
    routes:
      - name: vault-8200
        host: vault
        service: vault-8200
        targetPort: 8200
        tls: true
        tls_termination: Edge
    userdata: >-
      #cloud-config

      user: rhel

      password: ansible123!

      chpasswd: { expire: False }

      runcmd:
        - echo "PasswordAuthentication yes" > /etc/ssh/sshd_config.d/50-cloud-init.conf
        - systemctl reload sshd
